<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-sanitize.min.js"></script>
        <script src="query-builder-directive.js"></script>
        <script src="solr-query-builder.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <script>
        var myApp = angular.module('myApp');

        myApp.factory('SolrQueryBuilder', function ($window) {
            if (!$window.Query) {
                console.error("cant load solrquery builder");
                return null;
            }

            return $window.Query;
        });

        myApp.controller('myCtrl', function($scope, SolrQueryBuilder) {

            function mapCondition(cond, q, field, data) {
                if(cond.match(/^(any|between)$/)) return;

                q.where(field)[cond](data);
            }

            function mapGroup(group, q) {
                let op = group.operator;
                let rules = group.rules;
                if(rules === undefined) {
                    console.log(group);
                }
                q.begin();
                rules.forEach(rule => {
                    if(rule.group) {
                        mapGroup(rule.group, q);
                    }

                    if(rule.condition) {
                        mapCondition(rule.condition, q, rule.field, rule.data);
                    }
                });
                q.end();
            }

            $scope.savedFilters = [];

            $scope.saveCurrentFilter = function() {
                $scope.savedFilters.push(angular.copy($scope.filter));
            }

            $scope.restorePrevFilter = function() {
                if($scope.savedFilters.length) {
                    $scope.filter = $scope.savedFilters.pop();
                }
            }

            $scope.removeCurrentFilter = function() {
                $scope.filter = JSON.parse('{"group": {"operator": "AND","rules": []}}');
            }

            $scope.filter = JSON.parse('{"group": {"operator": "AND","rules": []}}');

            $scope.$watch('filter', function (qb) {
                $scope.q = q = new SolrQueryBuilder();
                mapGroup($scope.filter.group, q);
            }, true);
        });
    </script>
    <body ng-app="myApp" ng-controller="myCtrl" style="margin: 50px;">
        <div class="alert alert-info">
            <strong>Solr Query</strong><br>
                {{q.build()}}
        </div>

        <div class="alert alert-info col-md-6">
            <strong class="col-md-11">Query Builder's Output</strong><br>
            <pre>{{filter | json}}</pre>
        </div>

        <div class="alert alert-info col-md-6">
            <div class="row">
                <strong class="col-md-8">Query Builder</strong>
                <div class="col-md-4">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-save" ng-click="saveCurrentFilter()"></span>
                        </button>
                        <button class="btn btn-sm btn-info" ng-click="restorePrevFilter()">
                                <span class="glyphicon glyphicon-repeat"></span>
                                <u>{{savedFilters.length}}</u>
                        </button>
                        <button class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove" ng-click="removeCurrentFilter()"></span>
                        </button>
                    </div>
                </div>
                <query-builder class="col-md-12" group="filter.group"></query-builder>
            </div>
        </div>
    </body>
</html>